@import "tailwindcss";

@config "../../../tailwind.config.js";

@import "./materials.css";

@theme {
	--text-md: 14px;
	--text-lg: 16px;
}

body {
	font-size: 14px;
}

html {
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px #1e1e1e;
	border: solid 1px #1e1e1e;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px rgb(64, 64, 64);
	border: solid 3px transparent;
	border-radius: 10px;
}

#markdown {
	@apply font-normal text-md;
}

#markdown h1 {
	@apply pb-3 text-lg font-bold;
}

#markdown h2 {
	@apply pb-3 font-bold;
}

#markdown p {
	@apply pb-3;
}

#markdown ul {
	@apply space-y-1 pl-5 pb-3 list-disc list-outside;
}

#markdown table {
	@apply rounded-[3px] overflow-hidden w-full;
}

#markdown table thead tr {
	@apply border border-dark-gray bg-gray-dark;
}

#markdown table th {
	@apply px-3 py-1 text-left text-white/90;
}

#markdown table td {
	@apply text-white/80;
}

#markdown table tbody {
	@apply child:even:bg-gray-dark;
}

#markdown table tbody tr {
	@apply border-b border-l border-r border-dark-gray child:p-2;
}

#markdown hr {
	@apply pb-3 text-white/20;
}

/** HIGHCHARTS **/

.highcharts-point-up {
	stroke: rgb(92, 184, 92);
	fill: rgb(92, 184, 92);
	color: rgb(92, 184, 92);
}
.highcharts-point-down {
	stroke: rgb(217, 83, 79);
	fill: rgb(217, 83, 79);
	color: rgb(217, 83, 79);
}
